@media (prefers-color-scheme: dark) {
  html {
    background-color: #181a1b !important;
  }

  body {
    color: rgb(181, 174, 165) !important;
    background-color: rgb(24, 26, 27) !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgb(206, 202, 195) !important;
  }

  a.resume-link {
    color: rgb(182, 176, 166) !important;
  }

  .text-muted {
    color: rgb(157, 149, 136) !important;
  }

}