<section class="work-section">
  {{ if .Site.Params.experience.core }}
  <h2>Core Expertise</h2>

  <ul class="core-expertise">
    {{ range .Site.Params.experience.core }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  <hr>
  {{ end }}
  <h2>Work Experience</h2>

  {{ range .Site.Params.experience.list }}
  <div class="item">
    <div class="item-heading">
      <h3 class="item-company">{{ .company }}</h3>
    </div>
    <ul class="timeline">
      {{ range .products }}
      <li class="timeline-item">
        <div class="item-content">
          <hgroup>
            {{ if .title }}<b>{{ .title }}</b>{{ end }}
            <p class="dates">{{ .dates }}</p>
          </hgroup>

          <p class="details">{{ with .details }}{{ . | markdownify }}{{ end }}</p>
          {{ if .skills }}
          <p class="skills">
            {{ delimit (apply .skills "printf" "<b>%s</b>" ".") " • " | safeHTML }}
          </p>
          {{ end }}
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>
